package templates

templ FindBuyer() {
<div class="container">
    <h1>Step 1: Find a Buyer!</h1>
    <a href="#" class="btn btn-primary" hx-get="/spec-trade-sell?step=2" hx-target="#content"
        hx-swap="innerHTML">Next</a>
</div>
}