<div class="container">
    <div class="row">
        <div class="col-6 text-start">
            <em>System generated!</em>
        </div>
        <div class="col-6 text-start">
            <form hx-post="/planet-generator" hx-target="#content" hx-swap="innerHTML">
                <input type="text" class="form-control" id="planetName" name="planetName" value="{{ .Name }}" hidden>
                <input type="text" class="form-control" id="sector" name="sector" aria-describedby="sectorHelp"
                    value="{{ .Sector }}" hidden>
                <input type="text" class="form-control" id="hex" name="hex" aria-describedby="hexHelp"
                    value="{{ .Hex }}" hidden>
                <button class="btn btn-primary">Regenerate</button>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-4 text-end">Name</div>
        <div class="col text-start">{{ .Name }}</div>
    </div>
    <div class="row">
        <div class="col-4 text-end">Sector</div>
        <div class="col text-start">{{ .Sector }}</div>
    </div>
    <div class="row">
        <div class="col-4 text-end">Hex</div>
        <div class="col text-start">{{ .Hex }}</div>
    </div>
    <div class="row">
        <div class="col-4 text-end">UWP</div>
        <div class="col text-start">{{ .UwpString }}</div>
    </div>
    <div class="row">
        <div class="col-4 text-end">Highport: </div>
        <div class="col text-start">{{ .HighportString }}</div>
    </div>

</div>

</div>