<div class="container">
    <h1>System generator</h1>
    <form hx-post="/planet-generator" hx-target="#content" hx-swap="innerHTML">
        <div class="mb-3">
            <label for="planetName" class="form-label">System Name</label>
            <input type="text" class="form-control" id="planetName" name="planetName">
        </div>
        <div class="mb-3">
            <label for="hex" class="form-label">Sector Name</label>
            <input type="text" class="form-control" id="sector" name="sector" aria-describedby="sectorHelp">
            <div id="sectorHelp" class="form-text">Name of sector system is in</div>
        </div>
        <div class="mb-3">
            <label for="hex" class="form-label">Hex</label>
            <input type="text" class="form-control" id="hex" name="hex" aria-describedby="hexHelp">
            <div id="hexHelp" class="form-text">Hex within the sector</div>
        </div>
        <button class="btn btn-primary">Generate</button>
    </form>
</div>